@ev-color--default: #1C1C1C;
@ev-color--default-active: #000000;
@ev-color--primary: #0460f3;
@ev-color--primary-active: #0153e0;
@ev-color--secondary: #F3F3F3;
@ev-color--outline: #F3F3F3;
@ev-color--white: #FFFFFF;
@ev-color--black: #000000;

.ev-button {
  background: none;
  outline: none;
  border: none;
  color: @ev-color--white;
  transition: .3s;

  &-mode {
    &--default {
      border-radius: 8.333px;
      background: var(--element, @ev-color--default);

      &:hover {
        background: var(--element, @ev-color--primary);
      }

      &:active {
        background: var(--element, @ev-color--primary-active);
      }
    }
  }

  &-mode {
    &--primary {
      border-radius: 8.333px;
      background: var(--element, @ev-color--primary);

      &:hover {
        background: var(--element, @ev-color--default);
      }

      &:active {
        background: var(--element, @ev-color--default-active);
      }
    }
  }

  &-mode {
    &--secondary {
      border-radius: 8.333px;
      background: var(--element, @ev-color--secondary);
      color: @ev-color--black;

      &:hover {
        opacity: .5;
      }

      &:active {
        opacity: .7;
      }
    }
  }

  &-mode {
    &--outline {
      border-radius: 8.333px;
      border: 1px solid var(--element, @ev-color--outline);

      &:hover {
        opacity: .5;
      }

      &:active {
        opacity: .7;
      }
    }
  }

  &-size {
    &--sm {
      padding: 7.5px 12px;
    }
    &--md {
      padding: 9.5px 12px;
    }
    &--lg {
      padding: 10.5px 12px;
    }
    &--xl {
      padding: 14px 12px;
    }
  }
}
